body {
    background: rgb(255,255,255);
    background-color: rgb(5, 47, 111);
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
}

#sp-container {
    width: 90vh;
    display: grid;
    place-items: center;
    grid-template-areas:
        "a1 . ."
        ". a2 ."
        ". . a3";
}

#sp1 {
    grid-area: a1;
}

#sp2 {
    grid-area: a2;
}

#sp3 {
    grid-area: a3;
}
